<div class="container">
  <br>
<div style="display:flex; flex-direction:row;" class="align-items-center">
  <div class="secular-one-regular col-md-6 col-12 p-3" style="float:left;"><h2> Resumo das Transações </h2></div>
</div>
<br>
<div class="row d-flex justify-content-center align-items-center">
  <div class="col-sm-3 justify-content-center align-items-center">
    <div class="card">
      <div class="card-body open-sans-regular">
        <h5 class="card-title">Saldo</h5>
        <p class="card-text">{{resumo.balance}}</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3 justify-content-center align-items-center">
    <div class="card">
      <div class="card-body open-sans-regular">
        <h5 class="card-title">Total de entradas </h5>
        <p class="card-text">{{resumo.total_inputs}}</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3 justify-content-center align-items-center">
    <div class="card">
      <div class="card-body open-sans-regular">
        <h5 class="card-title">Total de saídas</h5>
        <p class="card-text">{{resumo.total_outs}}</p>
      </div>
    </div>
  </div>
</div>
</div>
